.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 80px 0;
}

.grid.m0 {
    margin: 0;
}

.grid.reverse {
    flex-direction: row-reverse;
}

.grid-half{
    display: flex;
    width: 35%;
}
.grid-half.left{
    justify-content: end;
    width: 30%;
}
.grid-half.right{
    justify-content: start;
    width: 40%;
}
.grid-half.w40{
    width: 40%;
}
.grid-half.w30{
    width: 30%;
}
.grid-half.w50{
    width: 50%;
}


@media (max-width: 768px) {
    .grid{
        flex-direction: column;
    }

    .grid.reverse {
        flex-direction: column; /* Billede kommer efter note-content på mobil */
    }

    .grid-half.left, .grid-half.right, .grid-half.center{
        justify-content: center;
        width: 100%;
    }
}