.image{
    width: 50%;
}

.image img{
    width: 100%;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    align-self: flex-start; /* Tilføj denne linje */
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 450px; /* Juster denne værdi efter behov */
    object-fit: cover; /* Sørg for, at billederne fylder karusellen uden at forvrænge */
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

button.carousel-prev,
button.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fceff7;
    color: #555;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 999;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

button.carousel-prev:hover,
button.carousel-next:hover {
    background-color: #fcdef0;
}

.tag{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding: 10px 0 0;
}

.tag span{
    font-size: 15px;
}


/* Stil til video-sektionen */
.video-section {
    width: 75%;
    display: flex;
    flex-direction: row; /* Ændret til row, så videoer står ved siden af hinanden */
    gap: 20px; /* Mellemrum mellem videoerne */
    justify-content: center; /* Centerer videoerne horisontalt */
    flex-wrap: wrap; /* Gør, at videoerne kan bryde linje på mindre skærme */
    margin: 0 auto;
}

.video-container {
    flex: 1 1 30%; /* Sørger for, at hver video fylder 30% af containerens bredde */
    max-width: 100%; /* Forhindrer videoerne i at blive for brede */
    margin: 0 auto; /* Centerer videoerne i deres container */
}

video {
    width: 100%; /* Gør videoerne responsive */
    height: auto; /* Bevarer videoens proportioner */
    border-radius: 8px; /* Giver videoerne rundede hjørner */
}



@media (max-width: 768px) {
    .image {
        width: 100%;
    }

    .video-section {
        flex-direction: row; /* Ændrer til kolonne på små skærme, så videoerne vises under hinanden */
        gap: 15px; /* Mellemrum mellem videoerne på mobile enheder */
    }

    .video-container {
        flex: 1 1 100%; /* Gør, at videoerne fylder 100% af bredden */
        max-width: 100%; /* Videoerne fylder hele bredden */
    }
}



